.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
config.appmaker.lua
AppMaker.xcodeproj/
.downloadcache/
.amXcodeProjectBuilder/
ReleaseAssets/
AppMakerProfessional/
debug-app-maker-builder
